#rent {
    padding-top: 30px;
    padding-bottom: 30px;
    h5 {
        font-size: 18px;
       a {
        color: $typografyColor;
       }
    }
    p{
        font-size: 12pt;
        padding: 20px;
        line-height: 2;
        color:black;
    }
    .elems>div{
        border:1px solid $mainborderColor;
    }
    div img{
        max-width: 100px;
        margin-bottom: 15px;

    }
}
